<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Paddys.Fifa.Leaderboard</title>
    <script src="@Url.Content("~/Content/js/handlebars-v3.0.3.js")"></script>
</head>
<body>
    @RenderBody()
</body>
</html>