<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Paddys.Fifa.Leaderboard</title>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="@Url.Content("~/Content/js/handlebars-v3.0.3.js")"></script>
    <script src="@Url.Content("~/Content/js/leaderboard.js")"></script>
</head>
<body>

    <h1>slicedbread FIFA Friday leaderboard</h1>

    <button value="Add Player">Add Player</button>
    <button id="add-game" value="Add Game">Add Game</button>

<script id="leaderboard-table" type="text/x-handlebars-template">
        <table>
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Score</th>
                    <th>Co-efficient</th>
                </tr>
            </thead>
            <tbody>
                {{#each this}}
            <tr>
                <td>{{this.firstName}}, {{this.surname}}</td>
                <td>{{this.score}}</td>
                <td>{{this.coefficient}}</td>
            </tr>
                {{/each}}
            </tbody>
        </table>
    </script>

<script id="players-list" type="text/x-handlebars-template">
	<form id="add-game-form" style="display: none;">
		<h2>Add Game</h2>
		<label for="player1">Player 1</label>
		<select id="player1">
			{{#each this}}
				<option>{{this.firstName}}, {{this.surname}}</option>
			{{/each}}
		</select>
		<input type="text" id="player1Score"/>
		<label for="player2">Player 2</label>
		<select id="player2">
			{{#each this}}
				<option>{{this.firstName}}, {{this.surname}}</option>
			{{/each}}
		</select>
		<input type="text" id="player2Score"/>
		<input type="submit" value="Add" id="add-game-submit"/>
	</form>
</script>
</body>
</html>

