<h1>slicedbread FIFA Friday leaderboard</h1>

<button value="Add Player"></button>

<script id="leaderboard-table" type="text/x-handlebars-template">
    <table>
        <thead>
            <tr>
                <th>Player</th>
                <th>Score</th>
                <th>Co-efficient</th>
            </tr>
        </thead>
        <tbody>
            {{#each players}}
            <tr>
                <td>{{this.firstName}}, {{this.surname}}</td>
                <td>{{this.score}}</td>
                <td>{{this.coefficient}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>
