<h1>slicedbread FIFA Friday leaderboard</h1>

<button value="Add Player"></button>

<script id="leaderboard-table" type="text/x-handlebars-template"></script>
<table>
    <thead>
    <tr>
        <th>Player</th>
        <th>Score</th>
        <th>Co-efficient</th>
    </tr>
    </thead>
    <tbody>
    <!-- loop through the leader board results and add a table row for each, players name is clickable to take you into the player details -->
    </tbody>
</table>
</script>
